
Hw3/question_1/.ipynb_checkpoints/question_1-checkpoint.ipynb
Hw3/question_2/.ipynb_checkpoints/question_2-checkpoint.ipynb
Hw3/question_3/.ipynb_checkpoints/question_3-checkpoint.ipynb
Hw3/question_4/.ipynb_checkpoints/base-checkpoint.ipynb
Hw3/question_4/.ipynb_checkpoints/question_4-checkpoint.ipynb
